# Relevant for Reddit Digest for {{ .UserName }}

{{ range $sub, $posts := .}}
    ## {{$sub}}
    {{ range $posts := .}}
        > {{.Keyword}}
        > {{.PostTitle}}
        > {{.Post}}
        > {{.Link}}
    {{end}}
    ---
{{end}}
