# Relevant for Reddit Digest for {{ .UserName }}

{{ range $sub, $posts := .}}
    ## {{$sub}}
    {{ range $posts := .}}
        **Keyword: {{.Keyword}}**
        **Post Title: {{.PostTitle}}**  {{.Link}}
        
        {{.Post}} 
    ---
    {{end}}
    ---
{{end}}
